<h1>Your Order Summary</h1>
<hr></hr>
<% @services.each do |service| %>
<div class = "service">
  <h3>
    <li><%= service.name %> </li>
    <li><%= service.socks_per_month %></li>
    <li><%= service.cost %> </li>
  </h3>
</li>
</div>
<% end %>


