<h1>Home Page</h1>
<div>
  <a href="/login">Log In</a>
</div>
<div>
  <a href="to all the subscription packages below">Register</a>
</div>
<br></br>
<div>
  <a href="/customer/checkout/1">Subscription Package 1</a>
</div>
<div>
  <a href="/customer/checkout/2">Subscription Package 2</a>
</div>
<div>
  <a href="/customer/checkout/3">Subscription Package 3</a>
</div>