<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->

  <!-- Bootstrap CDN files -->
  <title>New Month, New Socks</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css/animate.min.css">
  <link rel="stylesheet" href="/stylesheets/mobirise/css/style.css">
  <link rel="stylesheet" href="/stylesheets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/simple-sidebar.css" >


  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <title></title>
</head>
<body>
  <%= yield %>

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.7.2/jquery.smooth-scroll.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.mb.ytplayer/3.0.0/jquery.mb.YTPlayer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.6.0/jarallax.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/javascript/mobirise/js/script.js"></script>
  <script src="/javascript/customer_page.js"></script>
</body>
</html>
