
<section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--transparent mbr-navbar--sticky mbr-navbar--auto-collapse" id="menu-41">
    <div class="mbr-navbar__section mbr-section">
        <div class="mbr-section__container container">
            <div class="mbr-navbar__container">
                <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
                    <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">

                        <span class="mbr-brand__name"><a class="mbr-brand__name text-white" href="#">SOCK-IT-UP</a></span>
                    </span>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header1-43" style="background-image: url(assets/bigsock.jpg);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(23, 99, 150);"></div>
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                <div class="container" id="login-container">

                  <h1 id="login_header" class="text-center">Login here!</h1><br><br>
                  <form action='newuser' method="post" class="form-horizontal col-lg-8">

                  <div class="form-group">
                    <label class="col-sm-2 control-label label_txt1">Email:</label>
                    <div class="col-sm-8">
                      <input name="email" class="form-control"  placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label label_txt1">Password:</label>
                    <div class="col-sm-8" >
                      <input name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <input type="submit" value="Login" class="btn btn-success">
                    </div>
                  </div>
                </form>
                </div>

            </div></div>
        </div>
    </div>
</section>
