<form method="POST" action='/customer/checkout3'>

<input type="hidden" name="service_id" value="<%= @services_id %>">

<label>Credit Card Number:</label>
<input type="text" name="cardnumber">

<p><input type="submit" value="Go!"></p>

</form>