<h1> Hello customer </h1>
<h3> This is where the customer selects their subscription(name, socks/month, size) </h3>
  <a href="/customers/checkout">Checkout!</a>
</div>
<div>
  <a href="/logout">Log out</a>
</div>


