<h1> Hello customer </h1>
<div>
  <a href="/customer/profile">Profile</a>
</div>
<div>
  <a href="/customer/shipping">Edit Shipping</a>
</div>
<div>
  <a href="/customer/orders">Edit Order</a>
</div>
<div>
  <a href="/customer/records">View history</a>
</div>
<div>
  <a href="/customer/sosorry">Post Complaint</a>
</div>
<div>
  <a href="/customer/attaboy">Post Complement</a>
</div>
<div>
  <a href="mailto:name@email.com">Contact Us!</a>
</div>