<form action="/customers/new" method="post"> 
  <div>
    <label>Send us a message!</label>
    <input type="text" name="comment">
  </div>
  <p><input type="submit" value="Go!"></p>
  <div>
    <a href="/logout">Log out</a>
  </div>
</form> 

