<div>
  <a href="/customers/shipping">Edit Shipping</a>
</div>
<div>
  <a href="/customers/orders">Edit Order</a>
</div>
<div>
  <a href="/customers/records">View history</a>
</div>
<div>
  <a href="/customer/sosorry">Post Complaint</a>
</div>
<div>
  <a href="/customer/attaboy">Post Complement</a>
</div>
<div>
  <a href="mailto:name@email.com">Contact Us!</a>
</div>



