<h1>Change personal info</h1>

<form method="POST" action='/customer/checkout'>
    
  <label>Name:</label>
  <input type="text" name="name" value="<%= @user.name %>">
  
  <label>Email:</label>
  <input type="text" name="email" value="<%= @user.email %>">

  <p><input type="submit" value="Go!"></p>

</form>

